body {
  font-family: var(--font-family), sans-serif;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;

  color: var(--light-color);

  background-image: linear-gradient(180deg, var(--overlay-gradient-prymary-color), var(--overlay-gradient-secondary-color)),
    linear-gradient(180deg, var(--overlay-color), var(--overlay-color)),
    url("../images/background/pic_320.png");

  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 364px;

  @include mq(mobile) {
    background-image: linear-gradient(180deg, var(--overlay-gradient-prymary-color), var(--overlay-gradient-secondary-color)),
      linear-gradient(180deg, var(--overlay-color), var(--overlay-color)), url("../images/background/pic_768.png");
  }

  @include mq(desktop) {
    background-image: linear-gradient(180deg, var(--overlay-gradient-prymary-color), var(--overlay-gradient-secondary-color)),
      linear-gradient(180deg, var(--overlay-color), var(--overlay-color)), url("../images/background/pic_1280.png");

    background-size: 100% 446px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;

  padding-left: 20px;
  padding-right: 20px;

  min-width: 320px;
  width: 100%;

  @include mq(mobile) {
    width: 480px;
  }

  @include mq(tablet) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @include mq(desktop) {
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}