:root {
  --font-family: 'Montserrat';

  --light-color: #ffffff;
  --dark-color: #000000;
  --prime-text-color: #0E0E0E;
  --secondary-text-color: #939393;
  --accent-color: #DC56C5;
  --button-color: #4C00FE;
  --button-hover-color: #2E009A;

  --primary-bg-color: #0E0E0E;
  --search-form-bg-color: rgba(255, 255, 255, 0.2);

  --overlay-color: rgba(11, 11, 11, 0.5);
  --overlay-gradient-prymary-color: rgba(13, 13, 13, 0);
  --overlay-gradient-secondary-color: rgba(14, 14, 14, 0.8);

  --backdrop-bg-color: rgba(32, 13, 29, 0.6);

  --modal-primary-bg-color: #FFF2FD;
  --modal-secondary-color: #C4C4C4;
  ;

  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}