:root {
  --font-family: 'Montserrat';

  --main-radius: 50px 0;

  --light-color: #ffffff;
  --dark-color: #000000;
  --prime-text-color: #0e0e0e;
  --secondary-text-color: #939393;
  --accent-color: #dc56c5;
  --button-color: #4c00fe;
  --button-hover-color: #2e009a;

  --primary-bg-color: #0e0e0e;
  --search-form-bg-color: rgba(255, 255, 255, 0.2);

  --overlay-color: rgba(11, 11, 11, 0.5);
  --overlay-gradient-prymary-color: rgba(13, 13, 13, 0);
  --overlay-gradient-secondary-color: rgba(14, 14, 14, 0.8);

  --backdrop-bg-color: rgba(32, 13, 29, 0.6);

  --modal-primary-bg-color: #fff2fd;
  --modal-secondary-color: #c4c4c4;

  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  --box-shadow-color: rgba(220, 86, 197, 0.72);
}
