<header class="header">
  <a href="./index.html">
    <picture class="logo">
      <source media="(max-width: 767px)" srcset="./images/logo/logo-m.png 1x, ./images/logo/logo-m@2x.png 2x" />
      <source media="(max-width: 1279px )" srcset="./images/logo/logo-t.png 1x, ./images/logo/logo-t@2x.png 2x" />
      <source media="(min-width: 1280px)" srcset="./images/logo/logo-d.png 1x, ./images/logo/logo-d@2x.png 2x" />
      <img src="./images/logo/logo-t.png" alt="logo" width="" />
    </picture>
  </a>
  <h1 class="header__title slide-down">
    <span>FIND</span> <span>BEST</span> <span>EVENTS</span> <span>AROUND</span>
    <span>THE</span> <span>WORLD</span>
  </h1>
</header>