<header class="header">
  <!-- <picture>
    <source
      media="(max-width: 767px)"
      srcset="./images/logo-m.png 1x, ./images/logo-m@2x.png 2x"
    />
    <source
      media="(max-width: 1279px )"
      srcset="./images/logo-t.png 1x, ./images/logo-t@2x.png 2x"
    />
    <source
      media="(min-width: 1280px)"
      srcset="./images/logo-d.png 1x, ./images/logo-d@2x.png 2x"
    />
    <img src="./images/logo-t.png" alt="" width="" />
  </picture> -->
  <h1 class="header__title">
    <span>FIND</span> <span>BEST</span> <span>EVENTS</span> <span>AROUND</span>
    <span>THE</span> <span>WORLD</span>
  </h1>
</header>
