<div class="container">
  <div class="gallery">
    <div class="card">
      <div class="card__decore"></div>
      <img class="card__img" src="./images/card-svg/unload.svg" alt="" />
      <p class="card__name">Eurovision 2021 finals!</p>
      <p class="card__date">2021-05-13</p>
      <p class="card__place">
        <svg class="card__icon" width="10" height="10">
          <use href="./images/card-svg/place.svg"></use>
        </svg>
        Palace of Ukraine
      </p>
    </div>
  </div>
  <ul class="pagination">
    <li class="pagination__item">
      <button class="pagination__btn active" type="button">1</button>
    </li>
    <li class="pagination__item">
      <button class="pagination__btn" type="button">2</button>
    </li>
    <li class="pagination__item">
      <button class="pagination__btn" type="button">3</button>
    </li>
    <li class="pagination__item">
      <button class="pagination__btn" type="button">4</button>
    </li>
    <li class="pagination__item">
      <button class="pagination__btn" type="button">5</button>
    </li>
    <li class="pagination__item">
      <button class="pagination__btn" type="button">6</button>
    </li>
    <li class="pagination__item">
      <button class="pagination__btn" type="button">7</button>
    </li>
    <li class="pagination__item">
      <button class="pagination__btn" type="button">8</button>
    </li>
    <li class="pagination__item">
      <button class="pagination__btn" type="button">9</button>
    </li>
    <li class="pagination__item">
      <button class="pagination__btn" type="button">10</button>
    </li>
  </ul>
</div>
