<div class="backdrop is-hidden" data-modal-footer>
  <div class="modal-footer">
    <button class="modal-footer__close" data-modal-footer-close>
      <svg class="modal-footer__close-svg">
        <use href="./images/sprite.svg#icon-close-modal"></use>
      </svg>
    </button>
    <h2 class="modal-footer__title">Our developers</h2>
    <ul class="modal-footer__list">
      <li class="modal-footer__item">
        <img src="./images/developers/vitalii-boiko.jpg" alt="developer Vitaliy" class="modal-footer__img" />
        <p class="modal-footer__text">Vitaliy <br />Boiko</p>
        <ul class="social">
          <li class="social__item">
            <a class="social__icon">
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-instagram-2"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a class="social__icon">
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-twitter-1"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a class="social__icon">
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-facebook-1"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a class="social__icon">
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-linkedin-1"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="modal-footer__item">
        <img src="./images/developers/denys-serheiev.jpg" alt="developer Denys" class="modal-footer__img" />
        <p class="modal-footer__text">Denys <br />Serheiev</p>
        <ul class="social">
          <li class="social__item">
            <a class="social__icon">
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-instagram-2"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a class="social__icon">
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-twitter-1"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a class="social__icon">
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-facebook-1"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a class="social__icon">
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-linkedin-1"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="modal-footer__item">
        <img src="./images/developers/dima-popko.jpg" alt="developer Dima" class="modal-footer__img" />
        <p class="modal-footer__text">Dima <br />Popko</p>
        <ul class="social">
          <li class="social__item">
            <a class="social__icon">
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-instagram-2"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a class="social__icon">
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-twitter-1"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a class="social__icon">
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-facebook-1"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a class="social__icon">
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-linkedin-1"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="modal-footer__item">
        <img src="./images/developers/anastasiia-matushenko.jpg" alt="developer Anastasiia" class="modal-footer__img" />
        <p class="modal-footer__text">Anastasiia <br />Matushenko</p>
        <ul class="social">
          <li class="social__item">
            <a class="social__icon">
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-instagram-2"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a class="social__icon">
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-twitter-1"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a class="social__icon">
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-facebook-1"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a class="social__icon">
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-linkedin-1"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="modal-footer__item">
        <img src="./images/developers/oleksii-romaniv.jpg" alt="developer Oleksii" class="modal-footer__img" />
        <p class="modal-footer__text">
          Oleksii <br />
          Romaniv
        </p>
        <ul class="social">
          <li class="social__item">
            <a class="social__icon">
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-instagram-2"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a class="social__icon">
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-twitter-1"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a class="social__icon">
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-facebook-1"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a class="social__icon">
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-linkedin-1"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="modal-footer__item">
        <img src="./images/developers/yuliia-zinchuk.jpg" alt="developer Yuliia" class="modal-footer__img" />
        <p class="modal-footer__text">Yuliia <br />Zinchuk</p>
        <ul class="social">
          <li class="social__item">
            <a class="social__icon">
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-instagram-2"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a class="social__icon">
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-twitter-1"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a class="social__icon">
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-facebook-1"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a class="social__icon">
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-linkedin-1"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>