<form class="search-form js-search-form">
  <div class="search-div">
    <input
      class="search-input js-search-event"
      type="text"
      placeholder="Start searching"
    />
    <button class="search-btn js-search-btn" type="submit">
      <svg class="search-icon" width="12" height="12">
        <use href="./images/sprite.svg#search-icon"></use>
      </svg>
    </button>
  </div>
  <div class="search-div">
    <!-- <input
      class="search-input js-input-country"
      id="country"
      type="text"
      placeholder="Select country"
    /> -->

    <div id="samplePage"></div>
    <select
      class="select-country js-select-country"
      id="select"
      name="selectInput"
      tabindex="1"
      data-choice="active"
    >
      <svg class="search-icon" width="15" height="10">
        <use href="./images/sprite.svg#polygon"></use>
      </svg>

      <option class="value-country js-value-country" selected value="" selected>
        Select country
      </option>

      <!-- <option class="js-value-country" value=""></option> -->
    </select>
    <!-- <label>
          <svg class="search-icon" width="15" height="10">
        <use href="./images/sprite.svg#polygon"></use>
      </svg></label></label> -->

    <!-- <button class="search-btn js-select-btn" type="click">
      <svg class="search-icon" width="15" height="10">
        <use href="./images/sprite.svg#polygon"></use>
      </svg>
    </button> -->

    <label class="search-lbl">
      <svg class="search-icon" width="15" height="10">
        <use href="./images/sprite.svg#polygon"></use>
      </svg>
    </label>
  </div>
</form>
<!-- <script type="text/javascript" src="./js/data/countries.json"></script> -->
