.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 10;

  width: 100vw;
  height: 100vh;

  background: var(--backdrop-bg-color);
  opacity: 1;
  // overflow-y: scroll;
  backdrop-filter: blur(3px);

  transition: opacity, visibility var(--animation);

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

// .no-scroll {
//   overflow: hidden;
// }

.no-scroll {

  @include mq(desktop) {
    overflow: hidden;
    margin-right: 20px;
    background-color: black;
  }
}

.modal {
  position: relative;
  margin-left: auto;
  margin-right: auto;

  @include mq(tablet) {
    padding: 100px 50px;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scale(1);

    transition: transform var(--animation);

    .backdrop.is-hidden & {
      transform: translate(-50%, -50%) scale(0.7);
    }
  }
}

.event_modal {
  position: absolute;
  top: 1%;
  left: 50%;
  width: 280px;
  min-height: 400px;
  border-radius: 150px 0px;
  padding: 80px 0 100px;
  transform: translate(-50%, 0);
  background-color: var(--modal-primary-bg-color);

  @include mq(tablet) {
    width: 704px;
    border-radius: 230px 0px;
    padding-top: 32px;
    padding-bottom: 40px;
  }

  @include mq(desktop) {
    width: 1000px;
    padding-top: 30px;
  }
}

.card-modal {
  text-align: center;

  @include mq(tablet) {
    text-align: left;
  }
}

.card-modal_box-img {
  margin-bottom: 20px;

  @include mq(tablet) {
    margin-bottom: 40px;
  }
}

.card-modal_img-small {
  height: 102px;
  width: 102px;
  border-radius: 50%;
  margin: 0 auto;

  @include mq(tablet) {
    height: 70px;
    width: 70px;
  }

  @include mq(desktop) {
    height: 132px;
    width: 132px;
  }
}

.card-modal_img-original {
  display: none;

  @include mq(tablet) {
    display: block;
    width: 249px;
    max-height: 440px;
    border-radius: 100px 0px;
  }

  @include mq(desktop) {
    width: 427px;
    max-height: 585px;
  }
}

.card-modal_box-info {
  margin-bottom: 24px;

  @include mq(tablet) {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
  }
}

.card-modal_list {
  @include mq(tablet) {
    width: 286px;
  }

  @include mq(desktop) {
    width: 427px;
  }
}

.card-modal_info {
  margin-bottom: 16px;

  @include mq(desktop) {
    margin-bottom: 20px;
  }
}

.card-modal_info:last-child {
  margin-bottom: 0;
}

.card-modal_title {
  font-weight: 600;
  font-size: 20px;
  line-height: calc(24 / 20);
  margin-bottom: 5px;

  color: var(--accent-color);

  @include mq(desktop) {
    font-weight: 600;
    font-size: 24px;
    line-height: calc(29 / 24);
  }
}

.card-modal_info p {
  font-weight: 400;
  line-height: calc(20 / 16);

  color: var(--prime-text-color);

  @include mq(mobile-only) {
    padding: 0 10px;
  }

  @include mq(desktop) {
    font-size: 18px;
    line-height: calc(22 / 18);
  }
}

.card-modal_description {
  max-height: 90px;
  overflow: hidden;
}

.card-modal_location {
  display: inline-block;
}

.event-icon-ticket {
  margin-right: 9px;
  vertical-align: middle;
}

.icon-ticket {
  @include mq(desktop) {
    width: 29px;
    height: 19px;
  }
}

.btn-buy-tickets {
  display: block;
  width: 145px;
  height: 40px;
  margin: 16px 0;
  padding: 9px 15px 10px;

  text-align: center;
  font-weight: 500;
  line-height: calc(20 / 16);

  background: var(--button-color);
  color: var(--light-color);
  border-radius: 5px;

  &:hover {
    background: var(--button-hover-color);
  }

  @include mq(mobile-only) {
    margin: 16px auto;
  }

  @include mq(desktop) {
    margin-top: 20px;
    margin-bottom: 32px;
  }
}

.btn-vip {
  margin-bottom: 0;
}

.btn-more-info {
  display: block;
  width: 230px;
  height: 40px;
  padding: 10px 5px;
  margin: 0 auto;

  font-weight: 500;
  line-height: calc(20 / 16);
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;

  border: 1px solid var(--button-color);
  border-radius: 5px;
  color: var(--button-color);

  &:hover {
    border-color: var(--accent-color);
    color: var(--accent-color);
  }

  @include mq(tablet) {
    width: 255px;
    padding: 10px 5px;
  }
}

.card-modal_close {
  position: absolute;
  top: 24px;
  right: 24px;

  padding: 10px;

  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover .card-modal_close-svg {
    fill: var(--accent-color);
  }
}

.btn-arrow {
  display: block;
  margin: 4px auto 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover .icon-arrow {
    fill: var(--accent-color);
  }
}

.icon-arrow {
  fill: var(--prime-text-color);
}

.backdrop_footer.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal_footer {
  width: 272px;
  height: 715px;
  background-color: var(--modal-primary-bg-color);
  border-radius: 70px 0;
  padding-top: 50px;
  padding-right: 10px;
  padding-left: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include mq(tablet) {
    width: 595px;
    height: 670px;
    border-radius: 200px 0px;
    padding-top: 70px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @include mq(desktop) {
    border-radius: 200px 0px;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 70px;
    width: 850px;
    height: 700px;
  }
}

.modal-footer_title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: normal;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--accent-color);

  @include mq(tablet) {
    font-size: 30px;
    line-height: 20px;
    margin-bottom: 25px;
  }

  @include mq(desktop) {
    font-size: 40px;
  }
}

.footer-modal_img {
  background-color: var(--light-color);
  width: 100px;
  height: 150px;
  margin: 0;
  object-fit: cover;
  border-radius: 50px 0;

  @include mq(tablet) {
    width: 150px;
    height: 200px;
  }

  @include mq(desktop) {
    width: 200px;
    height: 210px;
  }
}

.footer-modal_list {
  display: flex;
  flex-wrap: wrap;
}

.footer-modal_item {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;

  @include mq(tablet) {
    margin-bottom: 15px;
  }

  @include mq(desktop) {
    margin-bottom: 20px;
    width: 200px;
  }
}

.footer-modal_text {
  text-align: center;
  width: 100px;
  font-size: 16px;
  line-height: 20px;
  color: var(--prime-text-color);

  @include mq(tablet) {
    width: 150px;
    margin-top: 5px;
  }

  @include mq(desktop) {
    width: 200px;
    font-size: 20px;
  }
}

.modal-footer_close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 25px;
  right: 25px;
  background: transparent;
  border: 0px;
  cursor: pointer;

  @include mq(desktop) {
    top: 30px;
    right: 30px;
  }
}

.modal-footer_close-svg {
  width: 17px;
  height: 17px;

  fill: var(--modal-secondary-color);

  @include mq(desktop) {
    width: 20px;
    height: 20px;
  }

  &:focus,
  &:hover {
    fill: var(--button-color);
  }
}

.animationFooter {
  animation-duration: 0.55s;
  animation-fill-mode: both;
  animation-name: fadeInUpBig;
}

.animation {
  animation-duration: 0.55s;
  animation-fill-mode: both;
  // animation-name: pulse;
  //  animation-name: bounceInDown;
  //  animation-name: bounceInLeft;
  //  animation-name: fadeIn;
  //  animation-name: fadeInDown;
  //  animation-name: fadeInDownBig;
  //  animation-name: fadeInLeft;
  // animation-name: fadeInLeftBig;
  //  animation-name: fadeInUpBig;
  // animation-name: rotateInDownLeft;
  //  animation-name: rollIn;
    animation-name: zoomIn;
  //  animation-name: slideInDown;
  // animation-name: slideInLeft;
}

@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}


@keyframes bounceInDown {

  0%,
  60%,
  75%,
  90%,
  100% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0px, -3000px, 0px);
  }

  60% {
    opacity: 1;
    transform: translate3d(0px, 25px, 0px);
  }

  75% {
    transform: translate3d(0px, -10px, 0px);
  }

  90% {
    transform: translate3d(0px, 5px, 0px);
  }

  100% {
    transform: none;
  }
}


@keyframes bounceInLeft {

  0%,
  60%,
  75%,
  90%,
  100% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0px, 0px);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0px, 0px);
  }

  75% {
    transform: translate3d(-10px, 0px, 0px);
  }

  90% {
    transform: translate3d(5px, 0px, 0px);
  }

  100% {
    transform: none;
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0px, -100%, 0px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}


@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    transform: translate3d(0px, -2000px, 0px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}


@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0px, 0px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}


@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    transform: translate3d(-2000px, 0px, 0px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}


@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    transform: translate3d(0px, 2000px, 0px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}


@keyframes rotateInDownLeft {
  0% {
    opacity: 0;
    transform: rotate3d(0, 0, 1, -45deg);
    transform-origin: left bottom 0;
  }

  100% {
    opacity: 1;
    transform: none;
    transform-origin: left bottom 0;
  }
}


@keyframes rollIn {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0px, 0px) rotate3d(0, 0, 1, -120deg);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}


@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}


@keyframes slideInDown {
  0% {
    transform: translate3d(0px, -100%, 0px);
    visibility: visible;
  }

  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}


@keyframes slideInLeft {
  0% {
    transform: translate3d(-100%, 0px, 0px);
    visibility: visible;
  }

  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}