.modal_footer {
  position: fixed;
  top: 50%;
  left: 50%;

  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;

  width: 272px;
  height: 715px;

  background-color: var(--modal-primary-bg-color);
  border-radius: 70px 0;

  transform: translate(-50%, -50%);

  @include mq(tablet) {
    padding-top: 70px;
    padding-left: 40px;
    padding-right: 40px;

    width: 595px;
    height: 670px;

    border-radius: 200px 0px;
  }

  @include mq(desktop) {
    padding-top: 70px;
    padding-left: 100px;
    padding-right: 100px;

    width: 850px;
    height: 810px;

    border-radius: 200px 0px;
  }
}

.modal-footer_title {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;
  text-transform: uppercase;

  color: var(--accent-color);

  @include mq(tablet) {
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 20px;
  }

  @include mq(desktop) {
    font-size: 40px;
  }
}

.footer-modal_img {
  margin: 0;

  width: 100px;
  height: 150px;

  background-color: var(--light-color);
  border-radius: 50px 0;

  object-fit: cover;

  @include mq(tablet) {
    width: 150px;
    height: 200px;
  }

  @include mq(desktop) {
    width: 200px;
    height: 210px;
  }
}

.footer-modal_list {
  display: flex;
  flex-wrap: wrap;
}

.footer-modal_item {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

  @include mq(tablet) {
    margin-bottom: 15px;
  }

  @include mq(desktop) {
    margin-bottom: 20px;
    width: 200px;
  }
}

.footer-modal_text {
  width: 100px;

  font-size: 16px;
  line-height: calc(20 / 16);
  text-align: center;
  margin-bottom: 16px;

  color: var(--prime-text-color);

  @include mq(tablet) {
    width: 150px;
    margin-top: 5px;
  }

  @include mq(desktop) {
    width: 200px;
    font-size: 20px;
  }
}

.modal-footer_close {
  position: absolute;
  top: 25px;
  right: 25px;

  width: 20px;
  height: 20px;

  background: transparent;
  border: 0px;
  cursor: pointer;

  @include mq(desktop) {
    top: 30px;
    right: 30px;
  }
}

.modal-footer_close-svg {
  width: 17px;
  height: 17px;

  fill: var(--modal-secondary-color);

  @include mq(desktop) {
    width: 20px;
    height: 20px;
  }

  &:focus,
  &:hover {
    fill: var(--button-color);
  }
}

.social__list {
  display: flex;
  justify-content: center;
}

.social__item {
  position: relative;
  width: 44px;
  height: 44px;
  margin-right: 6px;
  border-radius: 50%;
  fill: var(--modal-secondary-color);
  background-color: var(--light-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
      background: var(--accent-color);;
      fill: var(--light-color);
    }
}

.social__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
}