.footer-text {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: var(--secondary-text-color);

    @include mq(tablet) {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: var(--secondary-text-color);
    }
}

footer {

    background-image: url(./../images/footer-decoratioin/noise_body.png);
    background-color: var(--prime-text-color);
    padding-bottom: 24px;

    @include mq(tablet) {
        padding-bottom: 40px;
        display: flex;
        align-items: flex-end;

        background-image: url(./../images/footer-decoratioin/ellipse5-tab.png),
                url(./../images/footer-decoratioin/ellipse2-tab.png), url(./../images/footer-decoratioin/vertical-line-left-tab.png),
                url(./../images/footer-decoratioin/vertical-line-right-tab.png);
            background-position: bottom 0 left 22px, bottom 0 left 48px, bottom 0 left 85px,
                bottom 0 right 85px;
            background-repeat: no-repeat;

        @include mq(desktop) {
            background-image: url(./../images/footer-decoratioin/ellipse10.png), url(./../images/footer-decoratioin/ellipse11.png),
                    url(./../images/footer-decoratioin/vertical-line-small.png), url(./../images/footer-decoratioin/vertical-line-small.png);
                background-position: bottom 0 left 10px, bottom 0 left 50px, bottom 0 left 20px,
                    bottom -60px right -830px;       
        }
    }
}

.footer-heart {
    color: var(--accent-color);
}

.btn-developers {
    background: transparent;
    border: 0px;
    color: var(--secondary-text-color);
    cursor: pointer;

    &:focus,
    &:hover{
            color: var(--accent-color);
        }
}

