.footer-text {

    width: 272px;
    margin-left: auto;
    margin-right: auto;

    font-size: 14px;
    line-height: calc(17 / 14);
    text-align: center;
    color: var(--secondary-text-color);

    @include mq(tablet) {
        width: auto;
        font-size: 16px;
        line-height: calc(20 / 16);
        text-align: center;
    }
}

footer {

    background-color: var(--prime-text-color);
    background-image: url(./../images/footer/noise_body.png);
    padding-bottom: 24px;

    @include mq(tablet) {
        display: flex;
        padding-bottom: 40px;
        align-items: flex-end;

        background-image: url(./../images/footer/ellipse5-tab.png),
            url(./../images/footer/ellipse2-tab.png), url(./../images/footer/vertical-line-left-tab.png),
            url(./../images/footer/vertical-line-right-tab.png);
        background-position: bottom 0 left 22px, bottom 0 left 48px, bottom 0 left 85px,
            bottom 0 right 85px;
        background-repeat: no-repeat;

        @include mq(desktop) {
            background-image: url(./../images/footer/ellipse10.png), url(./../images/footer/ellipse11.png),
                url(./../images/footer/vertical-line-small.png), url(./../images/footer/vertical-line-small.png);
            background-position: bottom 0 left 10px, bottom 0 left 50px, bottom 0 left 20px,
                bottom -60px right -830px;
        }
    }
}

.footer-heart {
    color: var(--accent-color);
}

.btn-developers {
    color: var(--secondary-text-color);
    background: transparent;
    cursor: pointer;

    border: 2px dashed var(--accent-color) !important;
    border-radius: 5px;
    margin-left: 10px;
    

    &:focus,
    &:hover {
        color: var(--accent-color);
        transform: scale(1.1);
        box-shadow: 0px 0px 20px #f80bfd, inset 0px 0px 2px #f80bfd;
    }
}
