.header {
  position: relative;
  padding: 80px 24px;

  @include mq(tablet) {
    padding: 40px 0;
  }

  @include mq(desktop) {
    padding-bottom: 48px;
  }
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
}

.header__title {
  margin: 0 auto;
  max-width: 608px;

  font-weight: 900;
  font-size: 50px;
  line-height: calc(61 / 50);
  text-align: center;

  color: var(--accent-color);

  @include mq(mobile-only) {
    max-width: 250px;

    font-size: 18px;
    line-height: calc(22 / 18);
  }

  @include mq(tablet-only) {
    max-width: 400px;
    font-size: 30px;
    line-height: calc(37 / 30);
  }

  & span {
    display: inline-block;

    text-shadow: 0.5px 0.5px 2px rgb(255 13 190 / 80%),
      -2px 0.5px 2px rgb(255 13 190 / 55%), 0 -10px 50px, 0 0 0.01em #dc56c5,
      0 2px 1px #000;

    transition: all 0.5s;
    animation: animate 3s infinite;
  }

  & span:nth-child(1) {
    animation-delay: 0.1s;
  }

  & span:nth-child(2) {
    animation-delay: 0.5s;
  }

  & span:nth-child(3) {
    animation-delay: 1s;
  }

  & span:nth-child(4) {
    animation-delay: 1.5s;
  }

  & span:nth-child(5) {
    animation-delay: 2s;
  }

  & span:nth-child(6) {
    animation-delay: 2.5s;
  }

  @keyframes animate {
    0% {
      margin: 0;
      color: var(--accent-color);
      transform: translateY(0);
    }

    10% {
      text-shadow: 1px 1px 3px rgb(255 13 190 / 80%),
        -1px 1px 3px rgb(255 13 190 / 55%), 0 -15px 70px, 0 0 0.01em #dc56c5,
        0 10px 3px #000;
    }
  }
}

.slide-down {
  visibility: visible;

  animation-name: slideDown;
  animation-duration: 1s;
  animation-timing-function: ease;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  50% {
    transform: translateY(8%);
  }

  65% {
    transform: translateY(-4%);
  }

  80% {
    transform: translateY(4%);
  }

  95% {
    transform: translateY(-2%);
  }

  100% {
    transform: translateY(0%);
  }
}