main {
  background-image: url(../images/background/bg-body.png);
}

.gallery {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 32px;

  @include mq(tablet) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 32px;
    row-gap: 32px;
  }

  @include mq(desktop) {
    row-gap: 40px;
  }
}

.card {
  width: 130px;
  display: block;
  border-radius: var(--main-radius);

  position: relative;
  text-align: center;
  cursor: pointer;

  transition: var(--animation);

  animation: card-anim 1s;

  &:hover {
    transform: scale(1.02);

    box-shadow: 12px 12px 15px -7px var(--box-shadow-color);

    @include mq(tablet) {
      box-shadow: 12px 12px 20px -7px var(--box-shadow-color);
    }

    @include mq(desktop) {
      box-shadow: 15px 15px 20px -7px var(--box-shadow-color);
    }
  }

  @include mq(tablet) {
    width: 152px;
    height: 325px;
  }

  @include mq(desktop) {
    width: 288px;
    height: 457px;
  }
}

.card__img-wrap {
  // background-image: url(../images/symbol-defs.svg#icon-unload);
  background-repeat: no-repeat;
}

.card__img {
  width: 120px;
  height: 150px;

  border-radius: var(--main-radius);
  margin-top: 10px;

  @include mq(tablet) {
    width: 141px;
    height: 178px;
  }

  @include mq(desktop) {
    width: 267px;
    height: 337px;
  }
}

.card__decore {
  width: 120px;
  height: 112px;

  border-radius: var(--main-radius);
  outline: 1px solid var(--accent-color);
  opacity: 30%;

  position: absolute;
  top: 0;
  right: 0;

  @include mq(desktop) {
    width: 227px;
    height: 212px;
  }
}

.card-desc__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 5px 10px;

  height: 140px;

  @include mq(tablet) {
    font-size: 16px;
    height: 130px;
  }

  @include mq(desktop) {
    padding-top: 10px;
    height: 100px;
  }
}

.card__name {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: var(--accent-color);

  @include mq(tablet) {
    font-size: 16px;
  }
}

.card__date {
  display: block;
  font-size: 14px;
  color: var(--light-color);

  @include mq(tablet) {
    font-size: 16px;
  }
}

.card__place {
  display: block;
  font-weight: 600;
  font-size: 12px;
  color: var(--light-color);

  @include mq(tablet) {
    font-size: 14px;
  }
}

.card__icon {
  display: inline-block;

  width: 10px;
  height: 10px;

  background-image: url(../images/card-svg/place.svg);
  background-repeat: no-repeat;
}

.pagination {
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 5px;

  list-style: none;

  padding: 60px 0;
}

.pagination__btn {
  border-radius: 10px 0;
  width: 30px;
  height: 30px;

  font-size: 14px;
  line-height: calc(17 / 14);

  color: var(--light-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.pagination__btn:hover {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
  box-shadow: inset 0px 0px 5px 2px var(--box-shadow-color);
}

@keyframes card-anim {
  0% {
    opacity: 0;

    transform: rotate3d(1, 1, 0, 135deg) scale(0.1) translateX(-350px);

    background-color: rgba(238, 98, 98, 0.5);
  }

  10% {
    background-color: rgba(238, 98, 98, 0.45);
  }

  20% {
    opacity: 0.3;
    background-color: rgba(238, 98, 98, 0.1);
  }

  30% {
    background-color: rgba(248, 7, 196, 0.45);
  }

  50% {
    opacity: 0.7;
    background-color: rgba(248, 7, 196, 0.2);
  }

  60% {
    background-color: rgba(248, 7, 196, 0.45);
  }

  85% {
    background-color: rgba(248, 7, 196, 0.1);
  }

  100% {
    opacity: 1;

    background-color: rgba(248, 7, 196, 0.05);

    transform: rotate3d(0, 0, 0, 90deg) scale(1) translateX(0);
  }
}
