* {
  box-sizing: border-box;
}

:root {
  --fields-text-color: #939393;
  --pink-color: #dc56c5;
}

input,
button {
  border: none;
  background: transparent;
}

input:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.search-form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  background-color: rgb(106, 110, 210);

  @include mq(tablet) {
    flex-direction: row;
    justify-content: center;
    gap: 32px;
  }

  @include mq(desktop) {
    flex-direction: row;
    justify-content: center;
    gap: 32px;
  }
}

.search-div {
  position: relative;
  width: 280px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);

  border-radius: 20px;

  @include mq(tablet) {
    margin: 0;
    width: 336px;
  }

  @include mq(desktop) {
    width: 288px;
  }
}

.search-input {
  width: 100%;
  height: 40px;
  padding-left: 32px;
  padding-right: 14px;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  color: #ffffff;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  color: var(--fields-text-color);
}

.search-btn {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.search-icon {
  fill: var(--fields-text-color);
}

.search-div:hover .search-icon {
  fill: var(--pink-color);
}

.search-input:hover::-webkit-input-placeholder {
  color: var(--pink-color);
}

.search-input:focus {
  border: 1px solid var(--pink-color);
}
