.search__form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  padding-bottom: 56px;
  background: transparent;

  @include mq(tablet) {
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    padding-bottom: 80px;
  }

  @include mq(desktop) {
    padding-bottom: 120px;
  }
}

.search__field {
  position: relative;
  margin: 0 auto;
  width: 280px;

  background: transparent;
  border-radius: 20px;

  @include mq(tablet) {
    margin: 0;
    width: 336px;
  }

  @include mq(desktop) {
    width: 288px;
  }
}

.search__input {
  padding: 0 32px;
  width: 100%;
  height: 40px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  color: var(--light-color);
  background: var(--search-form-bg-color);
  backdrop-filter: blur(10px);

  border: none;
  border-radius: 20px;
}

.search__btn {
  position: absolute;
  top: 0;
  right: 18px;

  padding: 0;
  width: 40px;
  height: 40px;

  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.search__icon {
  fill: var(--secondary-text-color);
}

.search__field:hover .search__icon {
  fill: var(--accent-color);
  transform: scale(1.2);
  transition: var(----animation);
}

.search__input:hover,
.select-country:hover {
  transform: scale(1.03);
  border: 2px solid var(--accent-color);
  transition: var(----animation);
}

.search__input:focus {
  border: 1px solid var(--accent-color);
}

.search__input:active,
.search__input:hover,
.search__input:focus {
  outline: 0;
  outline-offset: 0;
}

.select-country {
  position: relative;
  padding: 0 32px;

  width: 100%;
  height: 40px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  color: var(--secondary-text-color);

  background: var(--search-form-bg-color);
  backdrop-filter: blur(10px);

  appearance: none;
  overflow: hidden;
  border: none;
  border-radius: 20px;
}

.select-country option {
  background: var(--search-form-bg-color);
}

.select-country:focus {
  border: 1px solid var(--accent-color);
}

.search__field:focus .search__icon {
  transform: rotate(180deg);
}

.rotate {
  transform: rotate(180deg);
}

.search__lbl {
  position: absolute;
  top: 10px;
  right: 32px;
  padding: 0;
  outline: none;
}

.search__input::placeholder,
.select-country::placeholder {
  color: var(--secondary-text-color);
}

///-----------------
.search__input:hover::placeholder,
.select-country:hover::placeholder {
  color: var(--accent-color);
}

.select-country__value {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.select-country option {
  color: var(--light-color);

  background-color: #939393;
  backdrop-filter: blur(10px);

  border: none;
  border-radius: 20px;
}

option:checked {
  background-color: var(--accent-color);
}

.error-picture {
  margin: 0 auto;

  @include mq(tablet) {
    height: 500px;
    width: 500px;
  }

  @include mq(desktop) {
    height: 600px;
    width: 600px;
  }
}